
* {
    font-family: FiraCode Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
    
window#waybar {
    background-color: transparent;
    margin: -25px;
}

#window label {
    background-color: red;
    /* font-weight: bold; */
}

#workspaces {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    /*
    margin-left: 25px;
    margin-bottom: 30px;
    */
}
#workspaces button{
    color: 	#89b4fa;
    background: #FFF;
    margin-right: 10px;
    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.022) 2px 2px 15px 2px;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
}

#workspaces button.active{
    background: #89b4fa;
    color: #09090F;
    margin-right: 10px;
    
    border-radius: 15px;
    

    background: linear-gradient(118deg, #89b4fa 0%, #c1a8f7 59%, #ee7df2 100%); 
    background-size: 100% 100%;
    color: black;

}

#window,
#cpu,
#network,
#wireplumber,
#clock,
#custom-nordvpnip,
#custom-distro-icon,
#battery {
    color: #09090F;
    background: #FFF;

    margin-right: 10px;
    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.022) 2px 2px 15px 2px;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom: 30px;
    
    /* font-weight: bolder; */

    margin-top: 10px;
}

#clock {
    background: rgb(205,214,244);
    background: linear-gradient(118deg, rgba(205,214,244,1) 5%, rgba(243,139,168,1) 5%, rgba(243,139,168,1) 20%, rgba(205,214,244,1) 20%, rgba(205,214,244,1) 40%, rgba(243,139,168,1) 40%, rgba(243,139,168,1) 60%, rgba(205,214,244,1) 60%, rgba(205,214,244,1) 80%, rgba(243,139,168,1) 80%, rgba(243,139,168,1) 95%, rgba(205,214,244,1) 95%); 

    background-size: 200% 300%;
    animation: gradient_f_nh 4s linear infinite;
    margin-right: 25px;
    font-size: 16px;
    color: #09090F;
    font-weight: bold;
}


#taskbar {
    border: none;
    color: 	#89b4fa;

    margin-right: 10px;
    border-radius: 15px;
    min-width: 45px;

    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    
    margin-top: 10px;
    margin-bottom: 30px;
}

#taskbar > * {
    padding: 5px;
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
}


#custom-distro-icon {
    background-image: url('./nixos_icon.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50%;
    min-width: 45px;
    margin-left: 25px;
    margin-top: 12px;
    margin-right: 0px;
}